@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form input,
form button,
form textarea,
form select {
  padding: 0.4rem;
  border: 1px solid black;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .role-container {
    flex-direction: column;
  }
}

/* autumn -user light
dracula -user dark
business  -organ dark
lemonade -organ light */
